<% layout("/layouts/boilerplate") %>

    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data" >
<div class="mb-3">
  <lable for="title" class="form-lable">Title</lable>
  <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control"/>
</div>


      
   <div class="mb-3" >
    <lable for="description" class="form-lable">description</lable>
    <textarea name="listing[description]" class="form-control">

<%- listing.description %></textarea >
      </div>

      <div class="mb-3">
        <lable for="image" class="form-lable"> upload new image</lable>
        <input name="listing[image]" value="<%= listing.image %>" type="file" class="form-control"  />
      </div>
      
  
      <div class="mb-3">
        <lable for="price" class="form-lable">price</lable>
           <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control"  required/>
      </div>
   
     <div class="mb-3">
      <lable for="country" class="form-lable">country</lable>
      <input
        name="listing[country]"
        value="<%= listing.country %>"
        type="text" class="form-control" required

      />
     </div>
         <div class="invalid-feedback">
        Please select a valid state. </div>
      <div class="mb-3"> 
        <lable for="location" class="form-lable">location</lable>
        <input
        name="listing[location]"
        value="<%= listing.location %>"
        type="text" class="form-control" required
      />
      </div>
      <div class="invalid-feedback">
        Please select a valid state. </div>

      
    
      <button class="btn btn-dark">Edit</button>
    </form>

